@charset "utf-8";
@import url(./reset.css);
@import url(./modal.css);
@import url(./post.css);

:root {
  --app-header-color: #303039;
  --app-header-font-color: #f60862;
  --app-header-height: 120px;
	--app-profile-size: 40px;
  --app-nav-collapse-size: 40px;

	/* We need sidemargins on the header to make the nav bar centered. */
	--app-header-side-margin: 160px;

	--app-header-nav-hover: #202026;
	--app-header-nav-hover-font: #f60862;


  --app-background-color: #202026;
  --app-font-color: #ffffff;

	--app-button-color-1: #f60962;
	--app-button-hover-color-1: #c5064e;
	--app-button-font-1: #ffffff;
	
	--app-button-color-2: #9d09f6;
	--app-button-hover-color-2: #7e07c5;
	--app-button-font-2: #ffffff;

	--app-post-create-color: #303039;
	--app-post-color: #ffffff;
}

.container {
  width: min(1080px, 100% - 30px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.center {
	display: flex;
	justify-content: center;
  align-items: center;  
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	background-color: var(--app-background-color);
	color: var(--app-font-color);
}

header {
	height: var(--app-header-height);
	line-height: var(--app-header-height);
	background-color: var(--app-header-color);
	color: var(--app-header-font-color);
	overflow: hidden;
}
header * {
	/* While responsiveness isn't a main focus. I refuse to just let elements line split and break the header completely. */
	/* This makes everything inherit the header's height */
	height: inherit;
}

header h1 {
	width: var(--app-header-side-margin);
}

header nav {
	margin-inline: auto;
}

header nav ul {
	list-style: none;
	display: flex;
	font-size:20px;
}

header nav ul a {
	display: inline-block;
	padding-inline: 8px;
	transition: all 0.25s;
	cursor: pointer; /* I have no clue why this is needed */
}

header nav ul a:hover{
	background-color: var(--app-header-nav-hover);
	color: var(--app-header-nav-hover-font);
}

header .rightside {
	display: flex;
	margin-right: auto;
	width: var(--app-header-side-margin);

}
header .user {
	width:var(--app-profile-size);
	height:var(--app-profile-size);
	border-radius: 50%;
	border: 1px solid #00000000;
	
	/* only works in flex containers by the way */
	margin-top:auto;
	margin-bottom:auto;
	margin-left: auto;

	background-image: url("../img/profile.svg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	cursor: pointer;
	transition: border 0.25s;
}

header .user:hover {
	border-color: var(--app-header-font-color);
}

.container2 {
	width: 640px;
	margin-inline: auto;
}

.create-post {
	margin-top:60px;
	background-color: var(--app-post-create-color);

	border-radius: 15px;
	overflow: hidden;
}

.create-post textarea {
	background-color: inherit;
	color: inherit;
	resize: none;
	padding: 15px;
	width: 100%;
	height: 200px;
	font-size: 20px;
}

.create-post textarea::placeholder {
	color: #ffffff40;
}

.create-post .create-footer {
	margin:10px;
	height: 40px;
	display: flex;
}

.create-post .create-footer .image-input {
	height: 40px;
	line-height: 40px;
	margin-left: 5px;
}
.create-post .create-footer .image-input::file-selector-button {
	display: none;
}
.create-post .create-footer .image-input-button {
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	background-color: var(--app-button-color-1);
	color: var(--app-button-font-1);
	transition: color 0.25s;
	border: none;
}

.create-post .image-input-button:hover {
	background-color: var(--app-button-hover-color-1);
}

.create-post .create-footer .post-button {
	margin-left: auto;
	width: 80px;
	height: 100%;
	border-radius: 5px;
	font-size: 20px;
	background-color: var(--app-button-color-2);
	color: var(--app-button-font-2);
	transition: color 0.25s;
}
.create-post .create-footer .post-button:hover {
	background-color:var(--app-button-hover-color-2);
}